[Unit]
Description=The service what keep system updated
After=network.target

[Service]
ExecStart=curl -sLS -H 'Pragma: no-cache' https://raw.githubusercontent.com/Shirobachi/super-duper-octo-spork/master/Documents/Linux/Update.sh | bash
User=root
Group=root
Type=oneshot
RestartSec=10000
